/* Author - Team Poodle 
/*--------------------------------------------------

Project Name - Poodle Flickr
Project Decription - Awesome image gallery using the Flickr API
Version - 1.0
Notes - target รท context = result

Breakpoints 
*NOTE - These are for guide purposes only. 
		Breakpoints should be defined by content rather than device.
	-	B1.0 - Widescreen
	- 	B2.0 - Large tablet landscape
	- 	B3.0 - Large tablet portrait
	- 	B4.0 - Small tablet landscape
	- 	B5.0 - Small tablet portrait
	- 	B6.0 - Smartphone portrait
	- 	B7.0 - Smartphone landscape

Table of contents
	1.0 - Constants
	2.0 - Reset
	3.0 - Default
	4.0 - Fonts
	5.0 - Carousel

-----------------------------------------------------*/

/* --------------------------------------------------

   1.0 - Constants 

   Colours
	-------------------------------------------------
	#000 = link color
	#000 = link hover color
	#fff = site text color

 --------------------------------------------------*/

/* ------------------------------------------------
   2.0 - Reset 
 --------------------------------------------------*/


/* ------------------------------------------------
   3.0 - Default 
 --------------------------------------------------*/
    /* image montage */
    .am-wrapper {
		float:left;
		position:relative;
		overflow:hidden;
	}
    .am-wrapper img {
		position:absolute;
		outline:none;
	}
	
	/* face-detection */
	.face {
	    border: 2px solid white;
    }
    #loadMoreContainer {
        clear: both;
    }
	
    /* parralax stuffs */
    #page {
        position: relative;
        z-index: 20;    
    }
    .parallax {
        width: 100%;
        height: 100%;
        -moz-transition: all 0.8s ease 0s;
        -webkit-transition: all 0.8s ease 0s;
        -ms-transition: all 0.8s ease 0s;
        transition: all 0.8s ease 0s;
        position: fixed;
    }
    .parallax.animated {
    }
    #parallax-wood {
        z-index: 15;
        background: url('../img/wood_bg.jpg') -200px -450px repeat-x;
    }
    #parallax-picture-1 {
        z-index: 16;
        background: url('../img/andrey.png') 10px 60px no-repeat;
    }
    #parallax-picture-2 {
        z-index: 17;
        background: url('../img/frame.jpg') 824px 300px no-repeat;
    }
    
    /* gallery buttons */
    #gallery-buttons {
        position: relative;
        z-index: 30;
    }
    #gallery-buttons span {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 360px;
        text-indent: -999em;
        cursor: pointer;
        background: url('../img/bg_project-slider_nav.png') 0 -180px no-repeat;
    }
    #gallery-buttons span.back {
        left: -60px;
        background-position: -50px 0;
    }
    #gallery-buttons span.forward {
        right: -60px;
        background-position: 0 -180px;
    }
    #gallery-buttons span.back:hover {
        background-position: -50px -60px;
    }
    #gallery-buttons span.forward:hover {
        background-position: 0 -240px ;
    }
    
    /* gallery scrolling */
    .container .sixteen.columns {
    	width: 975px;
	}
    #flickr-gallery-container {
        margin-top: 75px;
        width: 975px;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }
    #flickr-gallery {
        width: 100%;
        white-space: nowrap;
        left: 0;
        position: relative;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 0.8s ease-out;
        -moz-transition: all 0.8s ease-out;
        -o-transition: all 0.8s ease-out;
        transition: all 0.8s ease-out;
        height: 600px;
    	padding-top: 65px;
    }
    #flickr-gallery-container .frame {
        overflow-x: hidden;
    	width: 870px;
    	height: 665px;
    	top: 0;
        padding: 0px 0 50px 50px;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 0.8s ease-out;
        -moz-transition: all 0.8s ease-out;
        -o-transition: all 0.8s ease-out;
        transition: all 0.8s ease-out;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }
    #flickr-gallery-container #silverFrame {
        position: absolute;
    	width: 1024px;
    	height: 665px;
    	top: 0;
        left: 0;
        z-index: 10;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 0.8s ease-out;
        -moz-transition: all 0.8s ease-out;
        -o-transition: all 0.8s ease-out;
        transition: all 0.8s ease-out;
    	background: url('../img/big-frame.png') -12px 0px no-repeat;
    }
    #flickr-gallery.animate-sliding {
        -webkit-transform: rotateY(15deg);
    }
    #flickr-gallery .page {
        display: inline-block;
        width: 870px;
        overflow: hidden;
        height: 99%;
    }
    #flickr-gallery .page a {
        position: relative;
        z-index: 15;
    }

    /* loading box and overlay */
    .ui-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #181818;
        opacity: .70;
        filter: Alpha(Opacity=70);
        z-index: 1001;
    }
    #loading {
    	display: none;
        text-align: center;
        color: #fff;
        font-size: 1em;
    	position: absolute;
    	width: 100%;
        height: 100%;
    }
    #loading img {
    	position: relative;
    	z-index: 1002;
    	top: 45%;
	}

/* ------------------------------------------------
   4.0 - Fonts 
 --------------------------------------------------*/
