/* Author - Team Poodle 
/*--------------------------------------------------

Project Name - Poodle Flickr
Project Decription - Awesome image gallery using the Flickr API
Version - 1.0
Notes - target รท context = result

Breakpoints 
*NOTE - These are for guide purposes only. 
		Breakpoints should be defined by content rather than device.
	-	B1.0 - Widescreen
	- 	B2.0 - Large tablet landscape
	- 	B3.0 - Large tablet portrait
	- 	B4.0 - Small tablet landscape
	- 	B5.0 - Small tablet portrait
	- 	B6.0 - Smartphone portrait
	- 	B7.0 - Smartphone landscape

Table of contents
	1.0 - Constants
	2.0 - Reset

-----------------------------------------------------*/

/* --------------------------------------------------

   1.0 - Constants 

   Colours
	-------------------------------------------------
	#000 = link color
	#000 = link hover color
	#000 = site text color

 --------------------------------------------------*/

/* ------------------------------------------------
   2.0 - Reset 
 --------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

img, 
object {
	max-width: 100%;
}


/* B1.0 - Widescreen */
@media screen and (min-width: 1025px){

}

/* B2.0 - Large Tablets in landscape and notebooks */
@media screen and (max-width: 1024px){


}

/* B3.0 - Large Tablets in portrait */
@media screen and (max-width: 768px){
	
}

/* B4.0 - Small Tablets in portrait */
@media screen and (max-width: 600px){
	
}

/* B5.0 - Small Tablets in landscape */
@media screen and (max-width: 800px){
 	
}

/* B6.0 - Smartphone landscape */
@media screen and (max-width: 480px){
	
}

/* B7.0 - Smartphone portrait */
@media screen and (max-width: 320px){
	
}