/* Author - Team Poodle 
/*--------------------------------------------------

Project Name - Poodle Flickr
Project Decription - Awesome image gallery using the Flickr API
Version - 1.0
Notes - target ÷ context = result

Breakpoints 
*NOTE - These are for guide purposes only. 
		Breakpoints should be defined by content rather than device.
	-	B1.0 - Widescreen
	- 	B2.0 - Large tablet landscape
	- 	B3.0 - Large tablet portrait
	- 	B4.0 - Small tablet landscape
	- 	B5.0 - Small tablet portrait
	- 	B6.0 - Smartphone portrait
	- 	B7.0 - Smartphone landscape

Table of contents
	1.0 - Constants
	2.0 - Reset
	3.0 - Default
	4.0 - Fonts
	5.0 - Carousel

-----------------------------------------------------*/

/* --------------------------------------------------

   1.0 - Constants 

   Colours
	-------------------------------------------------
	#000 = link color
	#000 = link hover color
	#fff = site text color

 --------------------------------------------------*/

/* ------------------------------------------------
   2.0 - Reset 
 --------------------------------------------------*/


/* ------------------------------------------------
   3.0 - Default 
 --------------------------------------------------*/
    #flickr-gallery {
        width: 938px;    
    }
    .am-wrapper {
		float:left;
		position:relative;
		overflow:hidden;
	}
    .am-wrapper img {
		position:absolute;
		outline:none;
	}
	.face {
	    border: 2px solid white;
    }
    #loadMoreContainer {
        clear: both;
    }
	

/* ------------------------------------------------
   4.0 - Fonts 
 --------------------------------------------------*/
